/**************************
 *        GLOBALS         *
 **************************/
body {
  background: white;
  color: #333332;
  font-family: 'Enriqueta', serif;
  font-size: 140%;
  line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #333332;
  line-height: 1;
  margin: 0.5em 0 0.1em;
}
h1 { font-size: 50px; margin-top: 0; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
h4 { font-size: 20px; }
h5 { font-size: 20px; text-transform: uppercase; }

a:link, a:visited, a:active {
  border-bottom: 1px solid #3299bb;
  color: #333332;
  text-decoration: none;
}
a:hover {
  color: #3299bb;
  border-bottom: 1px solid #3299bb;
  text-decoration: none;
}

/**************************
 *       CONTAINER        *
 **************************/
.container {
  max-width: 920px;
  margin: 100px auto 0;
  overflow: hidden;
  position: relative;
  left: -110px;
}
.footer {
  background: #333332;
  color: white;
  overflow: hidden;
}
.footer a:link, .footer a:visited, .footer a:active {
  color: white;
}
.footer-inner {
  max-width: 700px;
  margin: 0 auto;
}
.content {
  float: right;
  max-width: 700px;
}
.content img {
  width: 100%;
}

/**************************
 *        ARTICLE         *
 **************************/
.node-type-article h1.page-title {
  display: none;
}
.node-type-article h1.post-title {
  margin: 10px 0;
}
.node-type-article .content {
  margin-top: -5px;
}
.node-type-article .field-name-field-subtitle {
  font-size: 22px;
  font-style: italic;
  margin-bottom: 19px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
span.submitted {
  color: #B3B3B1;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.node-type-article p {
  margin-top: 10px;
  margin-bottom: 25px;
}
blockquote {
  border-left: 10px solid #3299bb;
  margin-left: 0;
  padding-left: 20px;
  font-style: italic;
}
.gist-meta {
  display: none;
}
#disqus_thread {
  margin-bottom: 20px;
}

/**************************
 *       BLOG LIST        *
 **************************/
.view-articles .post {
  padding: 50px 0;
  border-bottom: 1px solid #F2F2F0;
}
.view-articles .post:first-child {
  padding-top: 0;
}
.view-articles h3 {
  margin: 0;
}
.view-articles h3 a {
  border: none;
}

/**************************
 *        SIDEBAR         *
 **************************/
.sidebar {
  float: left;
  width: 160px;
  font-size: 56%;
  text-align: right;
}
.sidebar p:first-child {
  margin: 0;
}
.sidebar h4 a {
  border: none;
}
.sidebar p {
  color: #b3b3b1;
  font-size: 14px;
}
.sidebar ul {
  list-style: none;
  clear: both;
  padding-left: 0;
}
.sidebar ul li {
  margin: 5px 0;
}
.sidebar ul li a {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.sidebar hr {
  border: none;
  border-top: 1px solid #F2F2F0;
  outline: none;
  height: 0;
  width: 40%;
  float: right;
  position: relative;
  padding: 10px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .container, .footer-inner {
    max-width: 85%;
    left: 0;
  }
  .sidebar {
    max-width: 17%;
  }
  .content {
    max-width: 75%;
  }
}
@media only screen and (min-width: 0) and (max-width: 767px) {
  .sidebar, .content {
    width: 100%;
    float: none;
  }
  .sidebar {
    text-align: left;
    margin-bottom: 30px;
  }
  .sidebar hr {
    display: none;
  }
  .sidebar p:first-child {
    float: left;
    margin-right: 20px;
  }
  .sidebar ul {
    display: none;
  }
  .container {
    max-width: 90%;
    margin-top: 40px;
    left: 0;
  }
  body {
    font-size: 120%;
  }
  .footer-inner {
    max-width: 90%;
  }
}
